::placeholder{
    color: var(--lightgray);
}

.left-j{
    color:white;
    font-size: 3rem;
    font-weight:bold;
    text-transform:uppercase;
    position: relative;
}

.right-j{
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

@media screen and (max-width: 768px){
   .left-j{ 
    font-size: x-large;
    flex-direction: column;
    }

    .right-j{
        padding: 2rem;
    }
 }